@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300:400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  left: 0;
}
.container{
  max-width:  1300px;;
  margin: auto;
}

.row{
  display:flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 30px 0;
  
  }
  
  .footer-col{ 
    width: 50%;
    padding: 0 0%;
}

.footer-col h4{ 
  font-size:18px ;
 color: #ffffff;
 text-transform: capitalize;
 margin-bottom: 10px;
 font-weight: 500 ; 
 position: relative;
}

.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 10px;
  height: 2px;
  box-sizing: border-box;
  width: 10px;

}

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .footer-col{
    flex-basis: 410px;
    margin: 10px;
  }
  
  .footer-col h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 40px;
   
  
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
   
  }
  
  .footer-colul li {
    margin-bottom: 15px;
   
    
  }
  
  .footer-col ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 300  ;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
    
  }

.footer-col ul li a:hover {
  color: #ffffff;
  padding-left: 8px;

}
  
  .footer-bottom {
    background-color: #222;
    padding: 0px 0;
    text-align: center;
  }
  
  .footer-bottom p {
    margin: 0;
    color: #fff;
  }

  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
  }